

/* fuse animation */
.fuse {
  width: 10vw;
  /* Initial width */
  height: 5px;
  background-color: black;
  position: absolute;
  /* Changed to absolute */
  left: 0;
  /* Start from the left edge */
  animation: decreaseLength 60s linear forwards;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
/* bomb expanding animation */
#spot {
  position: fixed;
  top: calc(50% - 5px); /* Adjust for spot size */
  left: calc(50% - 5px); /* Adjust for spot size */
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 999;

}

.expanding {
  animation: expandSpot 10s linear forwards;
}

@keyframes expandSpot {
  0% {
    width: 10px; 
    height: 10px; 
}
  100% {
    width: 200vw; 
    height: 200vh;
}
}


.fuse img {
  margin-left: -10px;
  /* Adjust this value as needed to move the image more to the left */
}

@keyframes decreaseLength {
  0% {
    width: 420px;
    left: 0;
    /* Left position at the start of the animation */
  }

  100% {
    width: 0;
    /* Width decreases */
    left: 420px;
    /* Left position moves to the right */
  }
}
/* prompt */
.prompt {
  display: flex;
  justify-content: center;
}

.prompt p{
  display: inline-block;
}



/* header */
.header img{
  height: 20px;
}
.header p{
  text-align: center;
}


.countdown {
  position: relative;
}

.gameHeader {
  position: relative;
  width: 420px;
}

#countdown {
  font-family: 'Montserrat', sans-serif;
  margin-left: 460px;
  transform: translateY(-40%);
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body {
  margin:0;
  padding:0;
  background-color: #F8F5EB;
  overflow:hidden;
}
#colorSelection {
  height: 30px;
  margin-top: 5px;
  /* border-style: solid; */
  display: flex;
  justify-content: center;
}

.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.colorCircle #shuffleButton{
  margin-top:-5px;
  width: 30px;
  height: 30px;
}
.colorCircle #shuffleColor{
  margin-left: -90px;
  /* margin-top: -10px; */
}
.content {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 95vh;
  margin: auto;
  /* border-style: solid; */
}
.countdown {
  width: 30px;
}
canvas {
  border: 1px solid black;
  margin-top: 20px;
  border-style: solid;
}

#fuseline {
  width:60%;
}
.shuffleColor{
  border-style: solid;
}



/* For Mobile devices: 320px-480px
For Tablets or iPad: 480px - 768px
For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
For Extra-large size device: 1200px and more */

/* buttons */
#buttonContainer {
  margin-top: 50px;
}
#startButton {
  background-color: #9000FF;
  border: solid #6B00BF;
}

#shareButton {
  background-color: #9000FF;
  border: solid #6B00BF;
}

#voteButton {
  background-color: #DE5E36;
  border: solid #A74628;
  
}

#saveButton {
  background-color: #DE5E36;
  border: solid #A74628;

}

#settingsButton {
  background-color: #D44962;
}

.charIcon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: invert(100%);
}

#startButton,
#voteButton,
#settingsButton,
#shareButton,
#saveButton {
  color: white;
  padding: 11px 40px;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  /* Ensures buttons stack vertically */
  width: 49%;
  /* Adjust width to content */
  margin-bottom: 30px;
  /* Space below each button */
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 340px) {

}
